{% extends "auctions/layout.html" %}

{% block body %}

<!-- enter info for the item -->
<div class="container mt-6">

    <h2>Create An Auction</h2>

    
    {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{ alert }}
        </div>
    {% endif %}
    <form action="{% url 'createlisting' %}" method="POST" class ="mt-2" enctype="multipart/form-data">
        {% csrf_token %}
        {{ CreateForm }}
        <div class="form-group mt-5">
            <p class="text">Remember that the price starts at this, and may or may not be bidded. It is not the final price.</p>
            <p class="text">The creator of the listing can choose to close the listing at anytime. Please check the <a href="#">Terms and Services</a> before you continue.</p>
            <p class="text">Therefore, the listing will automatically go on as listed in the active listings pages. You can view it even after it is closed in private view.</p>
        </div>
        <input type="submit" class="btn btn-dark" value="Create">
    </form>
</div>
{% endblock %}